@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body,
html {
    margin: 0px;
    padding: 0px;
    display: flex;
}

#gradient-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    --gradient-color-1: #53df83;
    --gradient-color-2: #47d2e9;
    --gradient-color-3: #3f3f3f;
    --gradient-color-4: #eeeeee;
    z-index: 1;
}

.glass {
  background: #fff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;

  position: relative;
  z-index: 20;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3rem 5rem;

  color: #1b1e21;
}

@media (max-width: 701px) {
  .glass {
    width: 100%;
    height: auto;
    padding: 1rem;
    box-shadow: none;
  }

  #gradient-canvas {
    display: none;
  }
}

input {
    display: flex;
    border: 0px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #1b1e21;
    padding-left: 20px;
}

input:focus,
input:active,
input:hover {
    outline: 0px;
    border: 1px solid #0077b6;
}

.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 0px;
    background-color: #0077b6;
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: #b200ed;
    cursor: pointer;
}

.container {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

select {
  margin-top: 10px;
  border-radius: 5px;
}

select,
option {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 170px;
    background-color: #fff;
}

option {
    border: 0px;
}

.containerLoader {
  --uib-size: 30px;
  --uib-color: white;
  --uib-speed: 2s;
  --uib-bg-opacity: 0;
  height: var(--uib-size);
  width: var(--uib-size);
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
  will-change: transform;
  overflow: visible;
}

.car {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.track {
  fill: none;
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
  transition: stroke 0.5s ease;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 0, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 75, 150;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dashoffset: -100;
  }
}